<header class="l-content-fixed header">
  <h1 class="header-logo">
    <a><img>ロゴ</a>
  </h1>
  <nav class="nav">
    <ul class="nav-menu">
      <%if current_user%>
      <li class="nav-menu-item"><%=link_to '新着記事',recipes_path%></li>
      <li class="nav-menu-item"><%=link_to '投稿する',new_recipe_path%></li>
      <li class="nav-menu-item"><%=link_to 'ログアウト',logout_path, method: :delete%></li>
      <li class="nav-menu-item"><%=link_to 'マイページ',user_path(current_user),class: "btn btn_highlighted btn_menuitem"%></li>
      <%else%>
      <li class="nav-menu-item"><%=link_to '新規登録',new_user_path%></li>
      <li class="nav-menu-item"><%=link_to 'ログイン',login_path%></li>
      <%end%>
    </ul>
  </nav>
</header>